name: e2e-tests-windows

on:
  push:
    branches:
      - main
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
    paths-ignore:
      - "**/README.md"
  pull_request:
    paths-ignore:
      - "**/README.md"
    types: [opened, synchronize, reopened, labeled]
  merge_group:

permissions:
  contents: read

env:
  # Make sure to exit early if cache segment download times out after 2 minutes.
  # We limit cache download as a whole to 5 minutes.
  SEGMENT_DOWNLOAD_TIMEOUT_MINS: 2

jobs:
  collector-build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, windows-11-arm]
    runs-on: ${{ matrix.os }}
    if: ${{ github.actor != 'dependabot[bot]' && (contains(github.event.pull_request.labels.*.name, 'Run Windows') || github.event_name == 'push' || github.event_name == 'merge_group') }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - run: ./.github/workflows/scripts/free-disk-space.sh
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        id: go-setup
        with:
          go-version: oldstable
          cache-dependency-path: "**/*.sum"
      - name: Install dependencies
        if: steps.go-setup.outputs.cache-hit != 'true'
        run: make -j2 gomoddownload
      - name: Install Tools
        if: steps.go-setup.outputs.cache-hit != 'true'
        run: make install-tools
      - name: Generate otelcontribcol files
        run: make gennrdotcol
      - name: Build Collector
        run: make nrdotcol
      - name: Upload Collector Binary
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: collector-binary-${{ matrix.os == 'windows-11-arm' && 'arm64' || 'amd64' }}
          path: ./bin/*
