name: Automation - Prepare Release

on:
  workflow_dispatch:
    # Determine the version number that will be assigned to the release. During the beta phase, we increment
    # the minor version number and set the patch number to 0.
    inputs:
      candidate-beta:
        required: true
        description: Release candidate version (beta, like 0.140.0)

      current-beta:
        required: true
        description: Current version (beta, like 0.140.0)
permissions:
  contents: read
jobs:
  prepare-release:
    permissions:
      contents: write # required for pushing changes and creating commits
      pull-requests: write # required for creating pull requests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - run: ./.github/workflows/scripts/free-disk-space.sh
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: oldstable
          cache: false
      - name: Prepare release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
          CANDIDATE_BETA: ${{ inputs.candidate-beta }}
          CURRENT_BETA: ${{ inputs.current-beta }}
        run: ./.github/workflows/scripts/release-prepare-release.sh
