mode: daemonset

image:
  repository: nrdotpluscol-dev
  tag: "0.0.1"
  pullPolicy: IfNotPresent

command:
  name: nrdotpluscol

extraEnvs:
  - name: K8S_NODE_NAME
    valueFrom:
      fieldRef:
        fieldPath: spec.nodeName

clusterRole:
  create: true
  rules:
    - apiGroups:
        - ''
      resources:
        - 'pods'
        - 'nodes'
      verbs:
        - 'get'
        - 'list'
        - 'watch'
    - apiGroups: [ "" ]
      resources: [ "nodes/stats", "nodes/proxy"]
      verbs: [ "get" ]


alternateConfig:
  extensions:
    health_check:
      endpoint: ${env:MY_POD_IP}:13133
  exporters:
    nopexporter:
    debug:
      verbosity: detailed
  receivers:
    nopreceiver:
    kubeletstats:
      collection_interval: 10s
      auth_type: 'serviceAccount'
      endpoint: '${env:K8S_NODE_NAME}:10250'
      insecure_skip_verify: true
      k8s_api_config:
        auth_type: serviceAccount
      metrics:
        container.cpu.time:
          enabled: true
        container.cpu.usage:
          enabled: true
        k8s.container.cpu_limit_utilization:
          enabled: true
  processors:
    batch:
  service:
    extensions:
      - health_check
    pipelines:
      metrics:
        receivers: [kubeletstats]
        processors: [batch]
        exporters: [debug]
